# Configurações do Servidor
PORT=3000
NODE_ENV=production
APP_URL=https://sua-api.com

# Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/rotabus?schema=public"
PERSISTENCE_DRIVER="memory" # Opções suportadas: "memory" (padrão) ou "postgres" (produção)

# Segurança
JWT_SECRET="insira-um-segredo-longo-e-seguro-aqui"

# Integrações Externas
GOOGLE_MAPS_API_KEY="sua-chave-api-do-google-cloud"
